:root {    
    --red: #ff0000;
    --yellow: #ffff00;
    --green: #00ff00;
    --aqua: #00ffff;
    --blue: #0000ff;
    --magenta: #ff00ff;
}

body {
    background-color: black;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 10px;
}

h11 {
    display: inline-block;
    top: 20px;
    font-size: xxx-large;
    transform:scale(1.5,1);
    transform-origin: left;
    font-weight: bold;
    text-shadow: 3px 3px var(--magenta);
    color: var(--aqua);
    position: sticky;
}

h12 {
    font-size: x-large;
    display: inline-block;
    font-weight: normal;
    text-shadow: 1.5px 1.5px var(--blue);
    transform: scale(1.1,1);
    transform-origin: left;
    color: var(--red);
    position: relative;
    z-index: -1;
}

p11 {
    color: white;
    font-size: large;
    font-weight: normal;
    line-height: 150%;
}

.row {
    display: flex;

}


.row {
    flex-wrap: wrap;
}


.column {
    flex: 50%;
    padding-top: 50px;    
}

.embedplayer {
    width: 440px;
    height: 250px;
}

.hr3 {
    border: 0;
    border-top: 1.5px solid white;
}

@media screen and (max-width: 600px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    h11 {
        font-size: 11vw;
    }
    
    .embedplayer {
        width: fit-content;
        height: fit-content;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0px;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
    p11 {
        color: black;
    }
    ul {
        background-color: white;
    }
}

