body {
    background-color: black;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 10px;
}

h11 {
    display: inline-block;
    top: 20px;
    font-size: xxx-large;
    transform:scale(1.5,1);
    transform-origin: left;
    font-weight: bold;
    text-shadow: 3px 3px fuchsia;
}

h12 {
    font-size: x-large;
    font-weight: normal;
    text-shadow: 2px 2px red;
    transform: scale(1.125,1);
}

h13 {
    font-size: x-large;
    font-weight: normal;
    text-shadow: 2px 2px blue;
    transform: scale(1.25,1);
}

p11 {
    font-size: large;
    font-weight: normal;
    line-height: 150%;
}

/*span.spicy_text {
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
    text-decoration-thickness: 4px;
}*/

.row {
    display: flex;

}


.row {
    flex-wrap: wrap;
}


.column {
    flex: 50%;
    padding-top: 50px;    
    padding-bottom: 10px; 
}

.embedplayer {
    width: 440px;
    height: 250px;
}

@media screen and (max-width: 500px) {
    .embedplayer {
        width: fit-content;
        height: fit-content;
    }
}

.hr3 {
    border: 0;
    border-top: 1.5px solid white;
}

@media screen and (max-width: 500px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h11 {
        font-size: 11vw;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0px;
    width: 100%;
}




